# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.properties
*.keystore
# Bundle artifacts
*.jsbundle

# Expo / RN generated source-set (can be re-generated)
android/app/src/debugOptimized/



